<header>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/explorer">Explorar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/more">Mais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/posts">Mensagens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/alerts">Alertas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/savedItems">Itens Salvos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
  </ul>

</header>